@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap");

html,
body,
#root,
.App,
.content {
  width: 100%;
  height: 100%;
  font-family: "Source Code Pro", sans-serif;
}

.App {
  display: flex;
  position: relative;
}
